<!DOCTYPE html>
<html lang="es">
<head>
  {% include head.html %}
</head>
<body>

  {% include navbar.html %}

  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc4s9bIOgUxi8T/jzmr3EEkHkALQxgdh2BPBE/nzpY2" crossorigin="anonymous"></script>
  <!-- AOS – Animate On Scroll -->
  <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <!-- Custom JS -->
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

</body>
</html>
